.wavySpans {
  display: inline-block;
  animation: wave 1.5s infinite ease-in-out;
  animation-delay: calc(0.25s * var(--i));
}

@keyframes wave {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(var(--wave_amount));
  }
}
