:root {
  --primary: #6a7ba2;
  --primary_light: #99aad3;
  --primary_dark: #3d4f73;
  --secondary: #ffdfde;
  --secondary_light: #fff;
  --secondary_dark: #ccadac;
  --online: #00ff00;
  --offline: #2f4f4f;
}
