@import './presets/reset.css';

#root {
  display: grid;
  grid-template: minmax(3rem, auto) 1fr / minmax(5rem, auto) 1fr;
  height: 100vh;
  text-align: center;
}
/**
- 배경: Primary #6a7ba2
- 강조: P - Dark #3d4f73
- nav: Secondary #ffdfde
- nav button: S - Dark #ccadac
- font: S - Light #ffffff
*/

header {
  background-color: #ffdfde;
}

nav {
  background-color: #ffdfde;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

main {
  /* align-items: center; */
  /* background-color: #6a7ba2; */
  background-color: #99aad3;
  display: grid;
  /* justify-items: center; */
}
