@import './presets/reset.css';

#root {
  display: grid;
  grid-template: minmax(3rem, auto) 1fr / minmax(5rem, auto) 1fr;
  height: 100vh;
  text-align: center;
}

header {
  background-color: var(--primary_light);
}

nav {
  background-color: var(--secondary);
  color: var(--primary_dark);
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

main {
  align-items: center;
  background-color: var(--primary_light);
  display: grid;
  justify-items: center;
}
