.chatRoom {
  display: grid;
  width: 80%;
  margin: 0 5%;
  grid-template-columns: 0.3fr 1fr;
  background-color: var(--primary_dark);
  padding: 1rem;
  border-radius: 20px;
}

.chatRoomUserList {
  height: 95%;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: var(--primary);
  margin: 0 1rem;
}

.chatList {
  border-radius: 10px;
  height: 95%;
  overflow-y: scroll;
  background-color: var(--primary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatRoomUserList::-webkit-scrollbar,
.chatList::-webkit-scrollbar {
  display: none;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.myMessage {
  flex-direction: row-reverse;
}

.chatProfileImage {
  height: 45px;
  width: 45px;
  padding: 5px;
  border-radius: 50%;
  align-self: baseline;
}

.messageNick {
  width: 100%;
  text-align: left;
}

.myMessageNick {
  width: 100%;
  text-align: right;
}

.messageWrap {
  flex-basis: 60%;
}

.messageContents {
  height: auto;
  overflow-wrap: anywhere;
  text-align: left;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--secondary_light);
}

.messageTime {
  align-self: flex-end;
}

.chatRoomLeft {
  height: 80vh;
}

.chatRoomRight {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.chatRoomInput {
  height: 1.5rem;
  width: 80%;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.chatRoomInputButton {
  background-color: var(--secondary);
  border-radius: 0.5rem;
  height: 1.7rem;
  margin-left: 0.2rem;
  width: 3rem;
}

.chatRoomButton {
  background-color: var(--secondary);
  border-radius: 0.5rem;
  height: 1.7rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
  width: 4rem;
}

.upButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}

.upButtonImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
