.formModal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.formModalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 11;
}

.formModalContent {
  font-family: 'DungGeunMo';
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  background-color: var(--primary_dark);
  color: var(--secondary_light);
  display: grid;
  align-items: center;
  grid-template-rows: 4rem 1fr 3.5rem;
  min-width: 32em;
  padding: 0 0 1.25rem;
  position: absolute;
  width: 20%;
  z-index: 12;
}

.formModalAnimation {
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: formModalShow;
}

@keyframes formModalShow {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.formModalTitle {
  display: flex;
  align-items: center;
  color: var(--secondary_light);
  justify-content: center;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

.formModalBody {
  align-content: center;
  align-content: space-evenly;
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: start;
  justify-content: center;
}

.formModalField {
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 2rem;
  justify-items: center;
  margin: 2rem 0;
  width: 100%;
}

.formModalFieldName {
  align-items: center;
  background: var(--primary_dark);
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.formModalFieldValue {
  align-items: center;
  background: var(--primary);
  border: solid 3px var(--secondary_dark);
  border-radius: 3px;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.formModalFieldError {
  position: absolute;
  bottom: -2rem;
}

.formModalFieldValue:hover,
.formModalFieldValue:focus-within {
  border: solid 3px var(--secondary);
}

.formModalFieldInput {
  background: var(--primary);
  border-width: 0;
  color: var(--secondary_light);
  margin: 0 10px;
  outline: none;
  padding: 0;
}

.formModalButtons {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.formModalConfirm,
.formModalCancel {
  border-radius: 0.25rem;
  margin: 0.3125em;
  outline: none;
  padding: 0.625em 1.1em;
}

.formModalConfirm:hover,
.formModalCancel:hover,
.formModalConfirm:focus,
.formModalCancel:focus {
  filter: brightness(0.9);
}

.formModalConfirm {
  background: var(--secondary);
  color: var(--primary_dark);
}

.formModalCancel {
  background: var(--primary);
  color: var(--secondary_light);
}
