div.friendsList {
  position: sticky;
  bottom: 5%;
  left: 90%;
}

.friendsListBtn {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.friendsListContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--secondary);
  right: 0;
  bottom: 50px;
  width: 10rem;
  border-radius: 0.5rem;
}

.friendCategory {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: var(--secondary_dark);
}

.friendListMap {
  max-height: 10rem;
  padding-bottom: 50px;
  overflow-y: scroll;
}

/* FIXME : 윗부분 css가 둥글게 안되는...ㅠㅠㅠ */
