div.friendsList {
  display: inline-block;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.friendsListBtn {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.friendsListContent {
  display: block;
  position: absolute;
  background-color: var(--secondary);
  right: 1rem;
  bottom: 50px;
  width: auto;
}

.friendsListContent div {
  color: black;
  /* padding: 0.5rem; */
}
