.gameRoom {
  aspect-ratio: 16 / 12;
  display: grid;
  grid-template-rows: 15% 1fr 10%;
  min-width: 640px;
  width: 56%;
}

.gameInfo,
.gameMenu,
.gamePlay {
  width: 100%;
}

/* SECTION : GameInfo */

.gameInfo {
  align-items: center;
  background: var(--primary);
  border-radius: 1em 1em 0 0;
  color: var(--secondary_light);
  display: flex;
  vertical-align: middle;
}

.playerInfo {
  width: 42%;
}

.gameType {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 16%;
}

.gameType p:first-of-type {
  color: var(--secondary);
  display: block;
  position: absolute;
  top: 16%;
  width: 100%;
}

/* SECTION : GamePlay */

.gamePlay {
  background: var(--primary);
  display: grid;
}

#gameBoard {
  background: #eee;
  border-radius: 1em;
  place-self: center;
}

/* SECTION : GameMenu */

.gameMenu {
  align-items: center;
  background: var(--primary);
  border-radius: 0 0 1em 1em;
  display: flex;
  flex-direction: row-reverse;
}

.gameButton {
  background: var(--primary_light);
  border: none;
  border-radius: 0.5em;
  font-family: inherit;
  height: 3em;
  margin: 0 2.5% 0 0;
  transition: 0.7s;
  width: 15%;
}

.gameButton:hover {
  background: var(--primary_dark);
  color: var(--secondary);
}
