.login {
  align-items: center;
  background-color: var(--primary_light);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  z-index: 100;
}

.loginButton {
  background-color: var(--primary_dark);
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: var(--secondary_light);
  font-size: 1.2rem;
  font-weight: 600;
  height: 50px;
  max-width: 300px;
  transition: 0.8s;
  width: 100%;
}

.loginButton:hover {
  background-color: var(--secondary);
  color: var(--primary_dark);
  transform: scale(1.1);
}
