.search {
  height: 50px;
}

.searchModalFooter {
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  width: 100%;
}

.searchButton {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  height: 100%;
  padding: 10px 0;
  width: 100%;
}

.searchButton:hover {
  background-color: #ddd;
}

.searchModalBackground {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 80px;
  position: absolute;
  top: 0;
  width: calc(100% - 80px);
  z-index: 10;
}

.searchModal {
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  height: calc(100% - 150px - 30%);
  position: absolute;
  top: 100px;
  width: 50%;
}

.searchModalBody {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  z-index: 11;
}

.searchResults {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.search-results-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.search-item-anchor {
  align-items: center;
  color: black;
  display: flex;
  height: inherit;
  text-decoration: none;
}

.search-item-img {
  height: 2rem;
  margin-right: 10px;
  width: 2rem;
}

.search-item-nickname {
  color: black;
  font-weight: bold;
}

.searchModalHeader {
  border: 5px solid;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.search-input {
  border: 5px solid #ccc;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.active {
  background-color: plum;
}
