.search {
  height: 50px;
}

.searchModalFooter {
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.searchButton {
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 0;
  font-size: 1rem;
}

.searchButton:hover {
  background-color: #ddd;
}

.searchModalBackground {
  position: absolute;
  top: 0;
  left: 80px;
  width: calc(100% - 80px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchModal {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: calc(100% - 150px - 30%);
  /* z-index: 2; */
}

.search-results {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #fff;
}

.search-results-item {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}

.search-item-anchor {
  display: flex;
  align-items: center;
  height: inherit;
  text-decoration: none;
  color: black;
}

.search-item-img {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.search-item-nickname {
  color: black;
  font-weight: bold;
}

.search-input {
  width: 100%;
  border: 5px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
}

.active {
  background-color: plum;
}
