.matchHistoryList {
  display: grid;
  overflow: scroll;
  background-color: var(--primary);
  grid-gap: 2rem;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.matchHistoryList::-webkit-scrollbar {
  display: none;
  scroll-snap-type: y mandatory;
}

.matchHistory::-webkit-scrollbar {
  display: none;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
}

.matchHistory {
  display: grid;
  width: 28rem;
  height: 16rem;
  justify-content: stretch;
  scroll-snap-align: center;
  grid-template-columns: 12rem 2rem 12rem;
  grid-template-rows: repeat(3, minmax(3rem, auto));
  border-radius: 10px;
  color: white;
  place-content: stretch;
  place-items: stretch;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  background: #6a7ba2;
  box-shadow: 10px 10px 20px #4b5773, -10px -10px 20px #899fd1;
}

/* .matchHistoryList .matchHistoryItem {
  place-self: stretch;
  place-items: stretch;
  place-content: stretch;
} */

.matchHistoryItem:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.matchHistoryItem:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}

.matchHistoryItem:nth-child(3) {
  grid-column: 1 / 4;
  grid-row: 2;
}

.matchHistoryItem:nth-child(4) {
  grid-column: 1 / 4;
  grid-row: 3;
}
